* {
    padding: 0;
    margin: 0;
}
footer {
    clear: both;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid black;
    text-align: center;
}
header {
    width:100%;
}
header h1{
    text-align:center;
    padding-top: 25px;
}
section {
    width: 100%;
}
section img {
    width: 80%;
    margin: 30px auto;
    display: block; 
}
section p {
    text-align: center;
}
/* mobile */
@media screen and (min-width:0px) and (max-width:500px) {
    header button {
        position: absolute;
        left: 1rem;
        background:url('/everdevel/everdevel-css/미디어 쿼리/img/햄버거.png') no-repeat;
        width:2.5rem;
        height: 2.5rem;
        border:none;
        transform: scale(0.5);
    }
    section nav {
        display: none;
    }
    footer {
        position: absolute;
        bottom: 0px;
    }
}
/* pc */
@media screen and (min-width:501px) {
    header button {
        display:none;
    }
    section nav {
        width:100%;
    }
    section nav ul {
        list-style:none;
        width:100%;
        margin:0 auto;
    }
    section nav ul li {
        clear:both;
        text-align:center;
        margin-top:20px;
    }
    section nav ul li:last-of-type {
        margin-right:0;
    }
}
/* light mode */
@media (prefers-color-scheme:light) {
    html {
        background: white;
        color: black;
    }
    footer {
        border-top: solid 1px black ;
    }
    section nav ul li a {
        text-decoration:none;
        color:black;
    }
}
/* dark mode */
@media (prefers-color-scheme:dark) {
    html {
        background: black;
        color: gray;
    }
    footer {
        border-top: solid 1px gray;
    }
    section nav ul li a {
        text-decoration:none;
        color:gray;
    }
}
