* {
    margin: 0;
    padding: 0;
}
#header {
    width: 100%;
    height: 50px;
    background-color: lightblue;
}
#header_content {
    width: 320px;
    height: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header_content a {
    padding: 0 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#mid {
    margin: auto;
}
#mid_content {
    width: 100%;
    height: 90px;
    margin: auto;
}
#mid_top {
    color: lightseagreen;
    font-size: 60px;
    text-align: center;
}
.mid_cont-top {
    width: 1000px;
    height: 35px;
    background-color: lightseagreen;
    margin: auto;
}
#mid_cont-down {
    margin: auto;
    width: 1000px;
    height: 900px;
    display: flex;
    flex-direction: row;
}
.mid_cont2-left {
    width: 580px;
    height: 200px;
    margin-top: 20px;
    background-color: rgb(235, 235, 235);
}
#mid_cont-right {
    margin-left: 20px;
}
.mid_cont2-right {
    width: 400px;
    height: 150px;
    margin-top: 20px;
    background-color: rgb(235, 235, 235);
}